.groups_container{
    .header{
        display: flex;
        justify-content: space-between;
        place-items: center;
        height: 40px;
        border-bottom: 2px solid #CCD6D2;
    }
    color: #CCD6D2;
}

.tabMenu {
    background-color: #CCD6D2;
}