@import "../../index.scss";

.group_page {
    h1 {
        color: $box-background-color;
    }

    .header {
        justify-content: space-between;
        border-bottom: 2px solid white;

        .flex {
            flex-direction: column;
        }
    }
}