@import "../../index";

body{
    background-color:$background-color ;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
}

.Login{
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    background-color: $box-background-color;
    color: $main-text-color;
    height: 60vh;
    width: 100vw;

    form {
        display: flex;
        justify-content: space-around;
        place-items: center;
        flex-direction: column;
        margin: 0.2em;

        div {
            min-width: 300px;
            display: flex;
            justify-content: space-around;
            place-items: center;
        }
    }
}
