.new_post {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #CCD6D2;
  border: 2px solid #000;

  .title {
    display: flex;
    place-items: flex-start;
    justify-content: flex-start;
    padding: 1em;
    max-width: 500px;
  }

  .close{
    position: fixed;
    top:5px;
    right: 3px;
  }
  
  .content {
    padding: 1em;
  }
}